.button--about {
    color: #D41443;
    background-color: #FFF;
    border-radius: 22px;
    width: 161px;
    height: 44px;
    margin-top: 10px;
    cursor: pointer;
    padding: 7px 14px;
    border: 0;
    font-family: 'DM Sans';
    font-weight: bold;
}

.about{

&__description {
    font-family:'DM Sans';
    font-weight: 500;
font-size: 16px;
line-height: 176%;
color: #000;
margin-right: 30px;
margin-left: 30px;
}

&__description--light{
color:  #907E82;
}

&-bg {
    background: #FFF5F6;
}
}