.button--about {
    color: #D41443;
    background-color: #FFF;
    border-radius: 22px;
    width: 161px;
    height: 44px;
    margin-top: 10px;
    cursor: pointer;
    padding: 7px 14px;
    border: 0;
    font-family: 'DM Sans';
    font-weight: bold;
}

.about{

&__description {
     font-family:'DM Sans';
    font-weight: 500;
font-size: 16px;
line-height: 176%;
color: #000;
margin-right: 30px;
margin-left: 30px;
}

@media screen and (min-width: 768px) {
    &__description {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    &__description{
        width: 50%
    }}


&__description--light{
color:  #907E82;
}

&-bg {
    background: #FFF5F6;
}

&__img {
    width: 100%;
    }
    
    
    @media screen and (min-width: 768px) {
        &__img {
            width: 50%;
        }
    }
    
    @media screen and (min-width: 1200px) {
        &__img{
            width: 50%
        }}


@media screen and (min-width: 768px) {
.about-container{
display: flex; 
}
 }
        
@media screen and (min-width: 1200px) {
.about-container{
display: flex;
}}       
}

@media screen and (min-width: 768px) {
    a.tradition {
    font-size: 26px;
    line-height: 1.15;
    justify-content: center;
    }
    }
        
    @media screen and (min-width: 1200px) {
    a.tradition{
    font-size: 30px;
    line-height: 1.13;
    justify-content: center;
    }
    }