// main color defined

$bg-header-color: #FFB8CA;
$bg-other-color: #FFF5F6;
$bg-coments-color: #FAFAFA;
$main-color: #D41443;
$sticker-color: #FFA5BA;
$coffee-color: #F0D1A5;
$food-color: #C2E297;
$description-1: #FFFFFF;
$description-2: #907E82;
$information-text: #000000;

// other defined
$tablet: screen and (min-width: 768px);
$desktop: screen and (min-width: 1280px);
