<div class="container about-bg"> 
    <a class="product" name="tradition and love">tradition and love </a>
        <h2 class="products__title">How it's made</h2>
        <div class="about-container about-bg about__bg--milk">
    <img class="about__img" 
    src="./images/about/cow_mobile.png" 
    srcset="./images/about/cow_mobile.png 450w,
    ./images/about/cow_tablet.png 354w,
    ./images/about/cow_desktop.png 270w" 
    alt="cow with milk" 
    width="" 
    height="">
    </img>
    
    <p class="about__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p class="about__description about__description--light ">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
 Aliquam erat volutpat. Aenean accumsan.</p>
    <button class=" button button--about" type="button">Read more
        <svg  class="btn-arrow" width="6" height="10"
                    viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L4.61035 5L1 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
    </button>
        </div>
</div>
