<div class="container about-bg">
    <a class="tradition" name="About us">tradition and love </a>
        <h2 class="products__title products__title--tradition">How it's made</h2>
        <div class="about-container about-bg">

    <div class="about__box1">
    <img class="about__img"
    srcset="./images/about/cow_desktop1x.png 370w,
    ./images/about/cow_desktop2x.png 740w
    ./images/about/cow_tablet1x.png 450w,
    ./images/about/cow_tablet2x.png.jpg 900w
    ./images/about/cow_mobile1x.png 354w
    ./images/about/cow_mobile2x.png 708w"
    sizes="(min-width: 1200px) 280px,
    (min-width: 768px) 340px,
    (min-width: 420px) 516px"
    alt="cow with milk">
    </img>
    </div>

    <div class="about__box2">
    <p class="about__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p class="about__description about__description--light ">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
 Aliquam erat volutpat. Aenean accumsan.</p>
    <button class=" button button--about" type="button">Read more
        <svg  class="button-arrow" width="6" height="10"
            viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L4.61035 5L1 9" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
         </svg>
    </button>
</div>
</div>
 </div>






        