<div class="container advantage-bg">
    <h1 class="advantage-main-title">advantages</h1>
    <ul class="advantage">
        <li class="advantage__item">
            <figure class="advantage__img"></figure>
                <img class="" src="./images/advantage/icon-advantage-1.png">
            </figure>
            <h3 class="advantage__title">721</h3>
            <p class="advantage__description advantage__description--700">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        
        <li class="advantage__item">
            <figure class="advantage__img">
            <img class="" src="./images/advantage/icon-advantage-2.png">
        </figure>
            <h3 class="advantage__title">16kg</h3>
            <p class="advantage__description advantage__description--700">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    
        <li class="advantage__item">
         <figure class="advantage__img">
            <img class="" src="./images/advantage/icon-advantage-3.png">
        </figure>
            <h3 class="advantage__title">84</h3>
            <p class="advantage__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>