<section class="section container container--customer customer">
    <div class="customer__picture"></div>
    <div class="customer__review">
      <p class="customer__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
        ipsum primis in nibh vel risus.
      </p>
      
    </div>
    <div class="customer__client">Emily, Los Angeles</div>
    <div class="customer__slider"></div>
  </section>