<div class="footer-bg">
<div class="container container--without--padding">
    <section class="section footer">
        <div class="footer__left">
            <div class="footer__slogan">
                <p class="footer__title">Home made ice cream made</p>
                <p class="footer__title--big">with passion</p>
            </div>
        </div>
        <div class="footer__right">
            <ul class="socials-list">
                <li class="socials-list__item">
                    <a class="socials-list__link" href="https://github.com/" target="_blank">
                        <svg class="socials-list__icon">
                            <use href="./images/social-icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-list__item">
                    <a class="socials-list__link" href="https://telegram.org/" target="_blank">
                        <svg class="socials-list__icon">
                            <use href="./images/social-icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-list__item">
                    <a class="socials-list__link" href="https://facebook.com/" target="_blank">
                        <svg class="socials-list__icon">
                            <use href="./images/social-icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <div class="footer__contact-us">Feel free to contact <a class="footer__contact-us--phone"
                    href="tel:+61(0)383766284">+61 (0) 383 766 284</a></div>
        </div>
    </section>
    <div class="footer__copyright">
        <div class="footer__copyright-text">&copy; 2019 - IceCream. All Rights Reserved.</div>
    </div>
</div>
</div>