<div class="container container--without-padding gallery">
    <h1 class="gallery__title">gallery</h1>
        <img class="gallery_img"  
        srcset="./images/gallery/gallery-desktop1x.png 370w,
        ./images/gallery/gallery-desktop2x.png 740w,
        ./images/gallery/gallery-tablet1x.png 450w,
        ./images/gallery/gallery-tablet2x.png 900w,
        ./images/gallery/gallery-mobile1x.png 354w,
        ./images/gallery/gallery-mobile2x.png 708w"
        sizes="(min-width: 1280px) 1280px,
        (min-width: 768px) 786px,
        (min-width: 420px) 364px">
</div>
