

<div class="container">
    <a id="products">100% natural</a>
    <h2 class="products__title">Products</h2>
    <ul class="product">
        <li class="product__item bg__1">
            <figure class="product__image">
                <img 
                srcset="
                ../images/products/product_1_desktop_@2x.png 740w,
                ../images/products/product_1_mobile_@1x.png 450w,
                ../images/products/product_1_mobile_@2x.png 900w,
                ../images/products/product_1_tablet_@1x.png 354w,
                ../images/products/product_1_tablet_@2x.png 708w,
                ../images/products/product_1_desktop_@1x.png 370w"
                sizes="(min-width: 480px) 400px,
                (min-width: 768px) calc(50vw - 30px),
                (min-width: 1200px) calc(100vw - 30px)"
                alt="ice cream"/>
            </figure>
            <h3 class="product__name">Ice cream</h3>
            <p class="product__description product__description--one">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </li>
        <li class="product__item bg__2">
            <figure class="product__image">
                <img
                srcset="../images/products/product_2_desktop_@2x.png 740w,
                ../images/products/product_2_mobile_@1x.png 450w,
                ../images/products/product_2_mobile_@2x.png 900w,
                ../images/products/product_2_tablet_@1x.png 354w,
                ../images/products/product_2_tablet_@2x.png 708w,
                ../images/products/product_2_desktop_@1x.png 370w"
                sizes="(min-width: 480px) 600px,
                (min-width: 768px) calc(50vw - 30px),
                (min-width: 1200px) calc(100vw - 30px)"
                alt="ice coffee">
            </figure>
            <h3 class="product__name">Ice coffee</h3>
            <p class="product__description product__description--two">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </li>
        <li class="product__item bg__3">
            <figure class="product__image">
                <img
                srcset="../images/products/product_3_desktop_@2x.png 740w,
                ../images/products/product_3_mobile_@1x.png 450w,
                ../images/products/product_3_mobile_@2x.png 900w,
                ../images/products/product_3_tablet_@1x.png 354w,
                ../images/products/product_3_tablet_@2x.png 708w,
                ../images/products/product_3_desktop_@1x.png 370w"
                sizes="(min-width: 480px) 800px,
                (min-width: 768px) calc(50vw - 30px),
                (min-width: 1200px) calc(100vw - 30px)"
                alt="milksheake">
            </figure>
            <h3 class="product__name">Milkshakes</h3>
            <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </li>
    </ul>
</div>
