

<div class="container">
    <a class="section__header" name="Our products">100% natural</a>
    <h2 class="products__title">Products</h2>
    <ul class="product">
        <li class="product__item bg__1">
            <h3 class="product__name icecream">Ice cream</h3>
            <p class="product__description product__description--one">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="button button--product">
                <svg>
                    <use href="./images/arrow-right.svg#icon-arrow-right2"></use>
                </svg>
            </button>
        </li>
        <li class="product__item bg__2">
            <h3 class="product__name coffee">Ice coffee</h3>
            <p class="product__description product__description--two">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="button button--product">
                <svg>
                    <use href="./images/arrow-right.svg#icon-arrow-right2"></use>
                </svg>
            </button>
        </li>
        <li class="product__item bg__3">
            <h3 class="product__name milksheake">Milkshakes</h3>
            <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="button button--product">
                <svg>
                    <use href="./images/arrow-right.svg#icon-arrow-right2"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>
